<script setup lang="ts">
import { ref, computed } from "vue";
import {
  mdiPhone,
  mdiEmail,
  mdiFacebook,
  mdiInstagram,
  mdiSchoolOutline,
  mdiCakeVariantOutline,
  mdiAccountOutline,
  mdiThumbUpOutline,
} from "@mdi/js";
import FancyButton2 from "@/components/icons/FancyButton2.vue";
import FrameworkPopHomework from "@/components/FrameworkPopHomework.vue";
const frameList = ref([
  {
    name: "ศักดา อ่อนพรม",
    img: "https://reg.buu.ac.th/registrar/getstudentimage.asp?id=63160222",
  },
]);
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameworkPopHomework
          :name="item.name"
          :img="item.img"
          :index="index"
        ></FrameworkPopHomework>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table justify="center">
          <tr>
            <th>
              <FancyButton2
                ><v-icon :icon="mdiAccountOutline" /> ชื่อ -
                นามสกุล</FancyButton2
              >
            </th>
            <td>ศักดา อ่อนพรม</td>
          </tr>
          <br />
          <tr>
            <th>
              <FancyButton2
                ><v-icon :icon="mdiCakeVariantOutline" />
                เกิดวันที่</FancyButton2
              >
            </th>
            <td>16/พฤศจิกายน/2544 / 16/11/2001</td>
          </tr>
          <br />
          <tr>
            <th>
              <FancyButton2
                ><v-icon :icon="mdiSchoolOutline" />
                ประวัติการศึกษา</FancyButton2
              >
            </th>
            <td>จบการศึกษาจาก โรงเรียนปทุมเทพวิทยาคาร</td>
          </tr>
          <br />
          <tr>
            <th>
              <FancyButton2
                ><v-icon :icon="mdiThumbUpOutline" /> สิ่งที่สนใจ</FancyButton2
              >
            </th>
            <td>Software Developer, Database Administrator, BA</td>
          </tr>
          <br />
          <tr>
            <th>
              <FancyButton2
                ><v-icon :icon="mdiPhone" /> เบอร์โทรศัพท์</FancyButton2
              >
            </th>
            <td>098-091-7040</td>
          </tr>
          <br />
          <tr>
            <th>
              <FancyButton2><v-icon :icon="mdiEmail" /> E-mail</FancyButton2>
            </th>
            <td>sakdaonprom@gmail.com</td>
          </tr>
          <br />
          <tr>
            <th>
              <FancyButton2
                ><v-icon :icon="mdiFacebook" /> Facebook</FancyButton2
              >
            </th>
            <td>Sakda Onporm</td>
          </tr>
          <br />
          <tr>
            <th>
              <FancyButton2
                ><v-icon :icon="mdiInstagram" /> Instagram</FancyButton2
              >
            </th>
            <td>sakda_l3oat</td>
          </tr>
          <br />
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
