<script setup lang="ts">
import { ref } from "vue";
const props = withDefaults(
  defineProps<{
    name: string;
    img: string;
    rating: number;
    index: number;
  }>(),
  {
    rating: 10,
  }
);
</script>

<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <h2>ประวัติส่วนตัว (My Profile)</h2>
    <v-img :src="props.img" height="150px"></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ props.name }}</div>
      </div>
    </v-card-item>
  </v-card>
</template>

<style>
h2 {
  text-align: center;
}
</style>
